@import "window-width";

.button {
  width: 40px;
  height: 40px;
  background: transparent no-repeat right;
  border: 0;
  font-family: "TT Lakes";
  font-weight: 500;
  opacity: 100%;
  transition: opacity 200ms;
}

.button:hover {
  opacity: 70%;
}

.button:active {
  opacity: 20%;
}

.button-with-text {
  @media (min-width: $maxWidth) {
    min-width: 156px;
  }
}

.button-with-text__text {
  display: none;
  @media (min-width: $maxWidth) {
    display: block;
    text-align: left;
  }
}