$bodyBackgroundColor: #F8F8F8;
$sidebarBackgroundColor: white;
$mainColor: white;
$borderColor:#B8FFEC;
$subtitleBorderColor: #D9FFF5;
$mainTextColor: black;
$grayTextColor: #7E7E82;
$shadowColor: #7E7E82;
$interactiveColor: #FF3E79;
$inputColor: white;
$inputBorderColor: #EAEAEA;
$inputTextColor: #B5B6BC;