@import "window-width";
@import "color";

.title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  background: url("../img/title_mark.svg") no-repeat left;
  margin: 0 0;
  padding: 20px 20px;
}

.title-block__buttons {
  display: flex;
}

.title-block__repair-button, .title-block__search-button {
  display: none;
  @media (min-width: $maxWidth) {
    display: flex;
  }
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  color: $grayTextColor;
  text-transform: uppercase;
  background: linear-gradient(to right, $bodyBackgroundColor, $mainColor);
  border-top: 1px $subtitleBorderColor solid;
  padding: 15px 0 15px 15px;
}

.navigation__list {
  display: flex;
  overflow: auto;
  gap: 20px;
  color: $grayTextColor;
  list-style-type: none;
}

.navigation__paragraph, .navigation__paragraph_active {
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
}

.navigation__paragraph_active {
  background-color: $mainColor;
  border: 2px solid $borderColor;
}

.navigation__paragraph:hover {
  background-color: $mainColor;
}

.navigation__link {
  text-decoration: none;
}

.navigation__link:visited {
  color: black;
}

.text-section {
  display: flex;
  flex-direction: column;
  @media (min-width: $minWidth) {
    flex-direction: row;
  }
}

.text-section__paragraph {
  margin: 0 0;
  padding: 10px 20px;
}

.text-section__main-image {
  @media (min-width: $minWidth) {
    border-radius: 5px;
  }
  @media (min-width: $minWidth) and (max-width: ($maxWidth - 1px)) {
    max-height: 176px;
  }
}

.show-more-button {
  background-color: transparent;
  border: 0;
  border-radius: 20%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  gap: 5px;
  opacity: 100%;
  
  transition:
    opacity 300ms,
    background-color 300ms;

  font-size: 100%;
}

.show-more-button:hover {
  opacity: 70%;
}

.show-more-button:active {
  background-color: $mainColor;
}

.text-section__main-image {
  @media (min-width: $minWidth) {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
    padding-right: 20px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 10px;
  @media (min-width: $minWidth) {
    display: none;
  }
}

.pagination__dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  opacity: 60%;
  display: inline-block;
}

.pagination__dot_active {
  opacity: 100%;
}

.brands, .repair {
  margin-bottom: 30px;
}

.brand-list, .repair-list {
  display: flex;
  margin: 20px 0 10px 15px;
  padding: 0;
  gap: 15px;
  @media (max-width: ($minWidth - 1px)) {
    overflow-x: scroll;
  }
  @media (min-width: $minWidth) {
    display: grid;
    margin: 20px 30px 10px 30px;
    gap: 30px 40px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: $maxWidth) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.brand-list__brand {
  min-width: 240px;
  max-width: 240px;
  height: 72px;
  background-color: $mainColor;
  border: 1px #EAEAEA solid;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  align-items: center;
}

.brand-list__logo {
  padding-left: 15px;
}

.brand-list__link {
  justify-self: end;
  margin-right: 40px;
}

.brand-list__button-image {
  opacity: 100%;
  transition: opacity 300ms;
}

.brand-list__button-image:hover {
  opacity: 60%;
}

.brands__show-more-button {
  @media (max-width: $minWidth) {
    display: none;
  }
}

.repair-list__repair-type {
  min-width: 240px;
  max-width: 240px;
  height: 160px;
  background-color: $mainColor;
  border: 1px #EAEAEA solid;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 40% 60%;
  gap: 20px;
  align-items: center;
}

.repair-list__text {
  font-weight: 500;
  margin-top: 0;
  margin-left: 10px;
}

.repair-list__link {
  justify-self: end;
  margin-right: 20px;
  margin-bottom: 20px;
}

.repair-list__button-image {
  opacity: 100%;
  transition: opacity 300ms;
}

.repair-list__button-image:hover {
  opacity: 60%;
}

.repair__show-more-button {
  @media (max-width: $minWidth) {
    display: none;
  }
}

.prices__table {
  @media (min-width: $minWidth) {
    margin: 20px;
  }
}

.prices__chapters {
  @media (min-width: $minWidth) {
    display: grid;
    grid-template-columns: 45% 20% 20% 15%;
    margin: 0 20px;
  }
}

.prices__chapter {
  display: none;

  @media (min-width: $minWidth) {
    display: inline;
    font-size: 16px;
    color: $grayTextColor;
    font-weight: 400;
    margin-left: 10px;
  }
}

.price-list {
  margin: 20px 0 10px 15px;
  padding: 0;
  list-style: none;
  overflow-x: scroll;
  display: flex;
  gap: 15px;
  
  @media (min-width: $minWidth) {
    grid-area: 2 / 1 / 3 / 5;
    background-color: $mainColor;
    border-radius: 5px;
    overflow-x: unset;
    display: block;
    margin: 10px 0 10px 15px;
    gap: 0;
  }
}

.price-list__service {
  @media (max-width: ($minWidth - 1)) {
    min-width: 260px;
    max-width: 260px;
    background-color: $mainColor;
    border-radius: 5px;
  }

  @media (min-width: $minWidth) {
    border-bottom: 3px $bodyBackgroundColor solid;
    display: grid;
    grid-template-columns: 45% 20% 20% 15%;
    margin: 0 20px;
  }
}

.price-list__chapter {
  font-size: 16px;
  color: $grayTextColor;
  font-weight: 400;
  margin-left: 20px;
  margin: 10px 0 0 20px;

  @media (min-width: $minWidth) {
    display: none;
  }
}

.price-list__name, .price-list__price, .price-list__term {
  font-size: 16px;
  color: $mainTextColor;
  font-weight: 400;
  margin: 0 0 10px 20px;
  @media (min-width: $minWidth) {
    margin: 0;
    padding: 20px 0;
  }
}

.price-list__name, .price-list__price {
  @media (max-width: ($minWidth - 1px)) {
    width: 240px;
  }
}

.price-list__name {
  @media (min-width: $minWidth) {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.price-list__price {
  @media (min-width: $minWidth) {
    grid-area: 1 / 2 / 2 / 3;
  }
}

.price-list__term {
  @media (min-width: $minWidth) {
    grid-area: 1 / 3 / 2 / 4;
  }
}

.price-list__button {
  float: right;
  @media (min-width: $minWidth) {
    grid-area: 1 / 4 / 2 / 5;
    margin: 10px 10px;
  }
}

.prices__paragraph {
  max-width: 480px;
  margin-left: 20px;
  @media (min-width: $minWidth) {
    margin-left: 40px;
  }
}